{% extends 'base.html' %}
{% block title %} Recent Posts {% endblock %}
{% block content %}


<h1>Here are my blog posts!</h1>
<ul>
    {% for post in object_list %}
    <li>
        <a href="{% url 'article-detail' post.pk %}">
            {{post.title}}</a> -
            {{post.author.first_name}}
            {{post.author.last_name}} -
        <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small>
        <br/>
        {{post.body}}
    </li>
    {% endfor %}
</ul>
{% endblock %}